.AllStuff {
  background-color: Red;
}

// .itemCard {
//   height: 300px;
//   border: 2px solid black;
//   margin-bottom: 15px;
//   margin-left: 15px;
//   background-color: white;
// }

.itemImage {
  margin-top: 10px;
  height:50%;
  width: 200px;
}